body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  padding: 50px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: inherit;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: 300;
  color: inherit;
  padding: 50px;
}

.center {
  text-align: center;
}

section {
  height: 100vh;
}

/* NAVIGATION */
nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

/*
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

*/

/* SPLIT AND SPIN */

.first-half, .last-half {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: auto;
    height: auto;
}

.split a:hover > .first-half {
    display: inline-block;
    transform: rotate(-90deg) translateY(-20px);
    -moz-transform: rotate(-90deg) translateY(-20px);
    -o-transform: rotate(-90deg) translateY(-20px);
    -ms-transform: rotate(-90deg) translateY(-20px);
    -webkit-transform:rotate(-90deg) translateY(-20px);   
}

.split a:hover > .last-half {
    display: inline-block;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform:rotate(90deg); 
}


/* SIMPLE SPLIT */
.simplesplit a:hover > .first-half {
    animation: 2s fly-left;
}

.simplesplit a:hover > .last-half {
     animation: 2s fly-right;
}

@keyframes fly-left {
    0% {
        position: relative;
    }
    100% {
        position: relative;
        right: 20px;
    }
}

@keyframes fly-right {
    0% {
        position: relative;
    }
    100% {
        position: relative;
        left: 20px;
    }
}


/* ARROW ON HOVER */

.arrow-on-hover a:hover::before {
    content: "->";
}


/* BACKGROUND FILL COLOR SLIDE IN */

.bg-fill-slide .bg-fill {
    position: absolute;
    z-index: 1;
    width: 1px;
    height: 35px;
    padding: 2px;
    background-color: yellow;
    transition:width 2s;
    -moz-transition:width 2s; /* Firefox 4 */
    -webkit-transition:width 2s; /* Safari and Chrome */
    -o-transition:width 2s; /* Opera */
}

.bg-fill-slide a {
    position: relative;
    width: 90px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

li:hover .bg-fill {
    width: 130px;
}


/* BORDER BOX DRAW AROUND */
.box-draw a {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 5;
    color: red;
    width: 130px;
    background-color: aqua;
}
.bottom-left {
    width: 130px;
    height: 45px;
    border: 5px solid green;
    position: absolute;
    z-index: -1;
    left: -5px;
    bottom: 0px;
    
}

.bottom-left:hover   -- but not bottom left!! a:hover select bottom left
    -webkit-animation: bottom-left 4s infinite; /* Safari 4+ */
    -moz-animation:    bottom-left 4s infinite; /* Fx 5+ */
    -o-animation:      bottom-left 4s infinite; /* Opera 12+ */
    animation:         bottom-left 4s infinite; /* IE 10+, Fx 29+ */



.top-right {
    width: 130px;
    height: 45px;
    border: 5px solid red;
    position: absolute;
    z-index: -1;
    left: -9px;
    bottom: 4px;
    -webkit-animation: top-right 4s infinite; /* Safari 4+ */
    -moz-animation:    top-right 4s infinite; /* Fx 5+ */
    -o-animation:      top-right 4s infinite; /* Opera 12+ */
    animation:         top-right 4s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes bottom-left {
  0%   { width: 0px; height:0px; }
  25% { width full height 0 }
    50% {width full height full}
    75% {nothing new}
    100% {nothing new}
}
@-moz-keyframes bottom-left {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes bottom-left {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes bottom-left {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}



@-webkit-keyframes top-right {
  0%   { width: 0px; height:0px; }
  25% { nothing new }
    50% {nothing new}
    75% {grow width}
    100% {grow height}
}
@-moz-keyframes top-right {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes top-right {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes top-right {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}